* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Song Myung', serif;
}

.song-myung-regular {
  font-family: 'Song Myung', serif;
  font-style: normal;
  font-weight: 400;
}

body {
  font-size: 16px;
  color: white;
  background-color: black;
}

.section {
  display: block;

  // background-color: red;
}

.container {
  justify-content: center;
  min-width: 350px;
  max-width: calc(200svh + 2 * 2rem);
  padding-inline: 3.125rem;
  margin-inline: auto;

  // background-color: blue;

  > ol {
    padding: 0;
    margin: 0;
    margin-inline: 0;

    > li {
      margin: 0;
      line-height: 1.6;
      list-style: none;
    }
  }
}

.nav {
  &-section {
    display: flex;
    background-color: rgb(117 252 76);
  }

  &-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-block: 10px;

    // margin-inline: auto;
    color: black;
  }

  &_menu {
    display: flex;
  }
}

a {
  color: white;
  text-decoration: none;
}
